.project-container {
  display: flex;
  padding: 0 clamp(0.3rem, 5vw + 1.5rem, 8rem);
  gap: 2rem;
}

.project-image-wrapper {
  flex: 1;
  border-radius: 0.25rem;
  border: 0.5rem solid var(--accent);
  box-shadow: 0 1.1rem 1.5rem rgba(0, 0, 0, 0.25);
}

.visual-media {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.25);
}

.project-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.project-links {
  display: flex;
  gap: 5rem;
  margin-top: 1rem;
}
.project-links a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
