.side-project-header {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.side-project-container {
  /* margin: 0 4rem;
  border-radius: 1rem;
  background-color: var(--secondary); */
}
