.hero-container {
  display: flex;
  gap: clamp(0.1rem, 2vw + 0.1rem, 2rem);
  /* padding: 0 8rem; */
  padding: 0 clamp(0.3rem, 5vw + 1.5rem, 8rem);
}
.left-hero {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: min(1rem, 1vw);
}
.hero-intro,
.hero-description {
  color: var(--font-color);
  line-height: 1.5;
}
.hero-name {
  color: var(--primary);
  font-weight: 700;
}
.right-hero {
  width: 40%;
}
.hero-picture {
  max-width: 100%;
  border-radius: 20%;
}

h2.hero-description {
  font-size: clamp(1rem, 1.5vw + 0.4rem, 1.5rem);
}

@media (max-width: 45rem) {
  .left-hero,
  .right-hero {
    width: auto;
  }
}
@media (max-width: 35rem) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .right-hero {
    width: 90%;
  }
}
