.home-page-container {
  display: flex;
  flex-direction: column;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-page-content.with-padding {
  padding-top: 1rem;
}
