.header-container {
  display: flex;
  padding: 1rem 5rem;
  flex-wrap: wrap;
}
.nav,
.home-button {
  flex: 1;
}
.home-button {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
}
.nav a,
.home-button {
  color: var(--font-color);
  text-decoration: none;
  /* position: relative; */
  font-size: 1.2rem;
  /* font-weight: 500; */
}

.hamburger-button {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

.hamburger-button span {
  height: 0.4rem;
  width: 100%;
  background-color: var(--primary);
  border-radius: 0.2rem;
}
@media (max-width: 40rem) {
  .hamburger-button {
    display: flex;
  }
  .nav {
    display: none;
    flex-direction: column;
    gap: 1rem;
  }
  .header-container {
    flex-direction: column;
  }
  .nav.open {
    display: flex;
  }
  nav {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
  nav a {
    width: 100%;
    text-align: center;
    /* padding: 0.5rem 0; */
    /* border: 1px solid var(--primary); */
  }
}
