.header-container {
  display: flex;
  /* padding: 1rem 3rem; */
  padding: clamp(0.5rem, 3vw + 0.1rem, 1rem) clamp(1.1rem, 5vw + 0.1rem, 3rem);
}
.home-button {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: clamp(0.5rem, 5vw, 3rem);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.nav a,
.home-button {
  color: var(--font-color);
  text-decoration: none;
  /* position: relative; */
  font-size: 1.2rem;
  /* font-weight: 500; */
}

.hamburger-button {
  display: none;
}

.hamburger-button span {
  height: 0.4rem;
  width: 100%;
  background-color: var(--primary);
  border-radius: 0.2rem;
}

@media (max-width: 40rem) {
  /* Make the hamburger button visible */
  .hamburger-button {
    display: flex;
    flex-direction: column;
    width: min(2.25rem, 10%);
    cursor: pointer;
    gap: 0.3rem;
  }
  /* Hide Navbar and change the direction on navbar when hamburger is clicked */
  .nav {
    display: none;
    flex-direction: column;
  }

  .nav {
    background-color: var(--primary);
  }
}
