.footer {
  background-color: var(--accent);
  padding: 1rem;
}
.footer-header {
  padding-bottom: 1rem;
}
.footer-description {
  padding-bottom: 1rem;
}
.footer-margin {
  margin-left: 3rem;
  margin-right: 3rem;
}

@media (max-width: 48rem) {
  .footer-margin {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Pasted from contact.css */
.contact-container {
  margin-bottom: 3rem;
}

.contact-header {
  text-align: center;
  margin-bottom: 3rem;
}
.logo-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.linkedin-logo,
.github-logo,
.email-logo {
  height: 4rem;
  width: 4rem;
  /* background-color: purple; */
}
.linkedin,
.github,
.email {
  max-width: 100%;
}
