:root {
  --font-color: #0d150a;
  --bg-color: #f7fbf5;
  --primary: #67bf4b;
  --secondary: #9fdd8b;
  --accent: #84da68;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid red; */
}

body {
  background-color: var(--bg-color);
}
